.header
{
  		padding: 5px;
  		text-align: center;
  		background: #D22630;
  		color: white;
      top: 0;
      height: 10%;
}


.centered {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -5px);
  text-align: center;
  height: 70%;
}
 