.header
    { 
  		padding: 5px;
  		text-align: center;
  		background: #071D49;
  		color: white;
      top: 0;
      height: 10%;
    }
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 20;
  overflow-x: hidden;
  padding-top: 20px; 
}

/* Control the left side */
.left {
  width: 40%;
  left: 0;
}

input[type=number]{
    width: 50px;
} 

/* Control the right side */
.right {
  width: 60%;
  right: 0;
}

.centered {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -5px);
  text-align: center;
}